<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div th:if="${param.error}" class="ml-3 mt-3">
    <h1>Invalid username and password.</h1>
</div>
<div th:if="${param.logout}" class="ml-3 mt-3">
    <h1>You have been logged out.</h1>
</div>
<div style="width: 30%; float: left" class="container mt-5">
<form th:action="@{/login}" method="post">
    <div class="container">
        <label>User Name :</label>
        <input class="form-control" type="text" name="username"/>
    </div>
    <div class="container">
        <label>Password:</label>
        <input class="form-control" type="password" name="password"/>
    </div>
    <button class="btn btn-outline-success ml-3 mt-3" type="submit">Sign In</button>
</form>
<form th:action="@{/signup}" method="get">
    <button class="btn btn-outline-info ml-3 mt-3" type="submit">Sign Up</button>
</form>
</div>
</body>
</html>